<!DOCTYPE html>
<html>
<head>
    <title>Product Recommendations</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>
<body>
    <h1>Product Recommendations</h1>
    <div class="search-container">
        <input type="text" id="query" placeholder="Enter your query" oninput="showSuggestions()" />
        <div id="suggestions" class="suggestions-container"></div>
    </div>
    <button onclick="recommendProducts()">Recommend Products</button>
    <div id="recommendations"></div>
    <script src="static/script.js"></script>
</body>
</html>
